<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/calendar/?page=0"> Calendar</a>
      </li>

      <li class="main-header__item">
        <a href="/kieras"> Kieras </a>
      </li>

      <li class="main-header__item">
        <a href="/worker"> Worker </a>
      </li>
    </ul>
  </nav>
</header>