<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/loginkieras.css" />
    <title>Login</title>
  </head>
  <body>
    <%- include('./includes/info.ejs') %>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div class="wrap">
      <div class="loginBox">
        <form class="login" method="post">
          <label for="imie">Imie </label>
          <input type="text" name="imie" id="imie" value="" />
          <label for="nazwisko">Nazwisko</label>
          <input type="text" name="nazwisko" id="nazwisko" value="" />
          <button>Wbijam !</button>
        </form>
      </div>
    </div>
  </body>
</html>
